<!DOCTYPE html>
<html>
  <head>
    <title>FitsmindMessagePrototype</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if current_user %>
    <h4><%= current_user.email %></h4>
    <li><%= link_to 'Logout', destroy_user_session_path, method: :delete %></li>
    <li><%= link_to "Home", home_index_path %></li> 
    <% else %>
    <h4>Not logged in</h4>
    <% end %>
    <div class="container">
      <%= yield %>
    </div>

  </body>
</html>
